<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div class="form-container">
    <%= form_for @dispatched_email, remote: true do |f| %>

      <div>
        <%= f.text_field :sender_first_name,
          placeholder: "First Name",
          class: "sender-first form-control",
          style: "width: 50%;" %>
        <%= f.text_field :sender_last_name,
          placeholder: "Last Name",
          class: 'sender-last form-control',
          style: "width: 50%;" %>
      </div>

      <div>
        <%= f.email_field :sender_email,
          placeholder: "Email Address",
          class: "sender-email form-control" %>
      </div>

      <div>
        <%= f.telephone_field :sender_phone_number,
          placeholder: "Contact Number",
          class: "sender-phone form-control" %>
      </div>

      <div>
        <%= f.text_field :budget,
          placeholder: "Project Budget",
          class: "sender-budget form-control",
          prepend: "$", append: ".00" %>
      </div>

      <div>
        <%= f.text_area :body,
          placeholder: "Project Outline",
          class: "sender-outline form-control",
          style: "height: 150px;" %>
      </div>

      <div class="submit-buttom">
        <%= f.submit "Send",
            class: "submit-clicker btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- <script>
  $(document).submit(function() {
    $('.form-control').val('');
  });
</script> -->
