<div class="user-item-list" style="margin: 15px;">
  <% unless smart_listing.empty? %>
    <table class="table table-striped">
      <head>
        <th class="col-xs-3"><%= smart_listing.sortable "First Name", "first_name" %></th>
        <th class="col-xs-3"><%= smart_listing.sortable "Middle Name", "middle_name" %></th>
        <th class="col-xs-3"><%= smart_listing.sortable "Last Name", "last_name" %></th>
        <th class="col-xs-3"><%= smart_listing.sortable "Email", "email" %></th>
        <th></th>
      </head>
      <tbody>
        <% smart_listing.collection.each do |user| %>
          <tr class="editable" data="{id: user.id}">
            <%= smart_listing.render object: user, partial: "users/user_list", locals: {object: user} %>
          </tr>
        <% end %>
        <%= smart_listing.item_new colspan: 6, link: new_user_path %>
      </tbody>
    </table>
    <%= smart_listing.paginate %>
    <%= smart_listing.pagination_per_page_links %>
  <% else %>
    <p>No Records found!</p>
  <% end %>
</div>
