<div class="background-container">
  <div class="user-edit-container">
    <h2>Edit <%= resource_name.to_s.humanize %></h2><br />

    <div class="edit-user-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field edit-fields ">
          <%= f.label :new_email %><br />
          <%= f.email_field :email, autofocus: true, id: "edit-user-email" %>
        </div><br /><br />

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="actions edit-fields ">
          <%= f.submit "Update", id: "user-edit-submit" %>
        </div>
      <% end %>
    </div><br />
    <%= link_to "change password", edit_user_path(resource) %><br />
    <%= link_to "Back", :back %>
  </div>
</div>
