<div class="container">
  <div class="container", style="margin: 20px;">
    Hello, <%= @dispatched_email.sender_name %>
    <p>One of our representatives will get back to you,</p>
    <p>Thank you for thinking of Ooftypop!</p>
  </div>

  <div class="ooftypop-inquisition-container", style="text-align: center;">
    <div class="name row">
      <%= @dispatched_email.sender_name %>
    </div><br />
    <div class="phone-number row">
      Contact number: <%= @dispatched_email.sender_phone_number %>
    </div><br />
    <div class="budget row">
      Project Budget: <%= @dispatched_email.budget %>
    </div>
    <p>
      Project Outline:
    </p>
    <div class="body row" style="margin: 0px 50px 50px 50px;">
      <%= @dispatched_email.body %>
    </div>
  </div>
</div>
