<div class="background-container">
  <div class="user-edit-container">
    <h2>Edit Profile</h2><br />

    <div class="edit-user-form">
      <%= form_for @user do |f| %>

        <div class="field edit-fields ">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", id: "edit-user-first-name" %>
        </div><br />

        <div class="field edit-fields ">
          <%= f.label :middle_name %><br />
          <%= f.text_field :middle_name, autofocus: true, autocomplete: "middle_name", id: "edit-user-middle-name" %>
        </div><br />

        <div class="field edit-fields ">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", id: "edit-user-last-name" %>
        </div><br />

        <div class="field edit-fields ">
          <%= f.label :new_email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "edit-user-email" %>
        </div><br /><br />

        <div class="actions edit-fields ">
          <%= f.submit "Update", id: "user-edit-submit" %>
        </div>
      <% end %>
    </div><br />
    <%= link_to "Back", :back %>
  </div>
</div>
