<td><%= object.first_name %></td>
<td><%= object.middle_name %></td>
<td><%= object.last_name %></td>
<td><%= object.email %></td>
<td class="actions"><%= smart_listing_item_actions [{name: :edit,    url: edit_user_path(object)},
 {name: :destroy, url: user_path(object), confirmation: "Are you sure you want to delete this?"}]%> </td>
