<div class="background-container">
  <div class="new-password-container">
    <h2>New Password</h2><br />

    <div class="new-password-form">
      <%= form_for @user do |f|  %>

        <div class="field new-password">
          <%= f.label :password, "New password" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off", id: "new-password-field" %>
        </div><br />

        <div class="field new-password">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", id: "new-password-field" %>
        </div><br />

        <div class="actions new-password">
          <%= f.submit "Submit new password", id: "submit-new-password" %>
        </div><br />
      <% end %>
    </div>
    <%= link_to "Back", :back %>
  </div>
</div>
